.detailContent {
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    flex: 1;
    overflow: auto;
    padding-bottom: 40px;
}

.detailHeader {
    -webkit-app-region: drag;
    .detailToolbar {
        position: relative;
        height: 40px;
        background-color: #fbfbfb;
        border-bottom: 1px solid #e5e5e5;
        > i {
            font-size: 20px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            display: inline-block;
            margin: 10px;
            cursor: pointer;
            color: #3498db; // #007aff;
            &:last-child {
                float: right;
            }
        }
        > i[data-flag="true"] {
            color: rgb(255, 150, 0);
        }
        &.disabled {
            > i {
                display: none;
                &:last-child {
                    display: inline-block;
                }
            }
        }
    }
}

// .repoLinksToolInputWrap {

// }

.linksPaneTitle,
.notePaneTitle,
.classifyPaneTitle {
    > span {
        font-weight: 500;
    }
    > a {
        float: right;
    }
}

.repoNoteToolInputWrap,
.repoClassifyToolInputWrap {
    width: 240px;
}

.contributorsBar {
    margin-top: 10px;
    line-height: 100%;
    > a {
        display: inline-block;
        img {
            display: block;
            width: 24px;
            height: 24px;
            margin: 2px;
            border-radius: 3px;
        }
    }
}

.repoDetailInner {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
    > header {
        padding: 5px 10px;
        > .headtitle {
            font-size: 20px;
            line-height: 36px;
            color: #28353d;
            > i {
                margin-right: 5px;
                font-size: 20px;
                line-height: 36px;
            }
            > span {
                padding: 0 3px;
            }
            > a {
                color: #28353d;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        > .repoMeta {
            font-size: 12px;
            color: #666;
        }
        > .repoTags {
            position: relative;
            padding: 10px 0 0;
            line-height: 30px;
            > i {
                font-size: 20px;
                margin-right: 5px;
                vertical-align: -4px;
            }
        }
    }
    > .repoReadMeWrap {
        flex: 1;
        position: relative;
        padding: 10px;
        > .repoReadmeLoading {
            position: absolute;
            width: 30px;
            height: 30px;
            top: 40%;
            left: 50%;
            margin-top: -15px;
            margin-left: -15px;
            > i {
                font-size: 30px;
            }
            > div {
                transform: scale(1.5);
            }
        }
        > .repoReadme {
            position: relative;
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
                Helvetica, Arial, sans-serif !important;
            font-size: 100%;
        }
    }
}
