{
    "presets": [
        "react",
        [
            "env",
            {
                "targets": {
                    "browsers": ["chrome >= 58"]
                }
            }
        ]
    ],
    "plugins": [["import", { "libraryName": "antd", "style": true }]],
    "comments": false
}
