.basefont {
  font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, STXihei, "Microsoft YaHei", 微软雅黑, sans-serif;
  line-height: 1.5;
}

.container {
  composes: basefont; /* test compose */
  padding: 20px;
  transition: all .3s ease; /* test autoprefixer */
}

$color: #232425;

:export {
  color: $color;
}
