.main {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    //border-top: 1px solid rgba(186, 208, 223, 0.36);
}

.left {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: rgba(39, 49, 67, 1);
    // border-right: 1px solid rgba(186,208,223,0.72);
    color: rgba(204, 204, 204, 1);
}

.mid {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 200px;
    width: 250px;
    height: 100%;
    background-color: #fbfbfb;
    border-right: 1px solid rgba(229, 229, 229, 1);
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 450px);
    height: 100%;
    background-color: rgba(246, 246, 247, 1);
}

.detailContent {
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.indicatorWrap {
    position: relative;
    width: 100%;
    height: 36px;
}

.indicator {
    position: absolute;
    top: 12px;
    right: 12px;
    display: inline-block;
    width: 14px;
    height: 14px;
    font-size: 14px;
    cursor: pointer;
}

.profileCard {
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.profileAvatar {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profileName {
    color: #eee;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 5px;
}

.groupNav {
    position: relative;
}

.langItem {
    padding-right: 32px !important;
}

.catItem {
    padding-right: 32px !important;
}

.navBadge {
    position: absolute;
    top: 0;
    right: 10px;
    text-align: right;
    padding: 0 6px;
    font-size: 14px;
    line-height: 42px;
    color: #fafafa;
}

.groupFooter {
    position: absolute;
    width: 100%;
    height: 36px;
    left: 0;
    bottom: 0;
}

.settingBtn {
    width: 16px;
    height: 16px;
    font-size: 15px;
    position: absolute;
    top: 5px;
    left: 16px;
    &:hover {
        color: #eee;
    }
}

.addCatBtn {
    width: 16px;
    height: 16px;
    font-size: 16px;
    position: absolute;
    top: 5px;
    right: 16px;
    transition: all .3s ease;
    &:hover {
        color: #eee;
        transform: rotate(90deg);
    }
}

.searchBox {
    padding: 12px 10px;
    >span {
        border: 0;
        &:hover {
            input {
                border-color: #d9d9d9 !important;
            }
        }
    }
    input {
        background: rgb(225,225,225);
        text-align: center;
        &:focus {
            box-shadow: none;
            border-color: #d9d9d9;
            background: #fff;
        }
        &:hover {
            border-color: #d9d9d9;
            background: #fff;
        }
    }
    &:focus {
        outline: 0;
    }
}

.searchBoxFocused {
    >.searchFields {
        margin-top: 0px;
    }
}

.searchFields {
    position: relative;
    padding: 10px 0;
    transition: all .3s ease;
    margin-top: -36px;
    text-align: center;
}

.reposListWrapper {
    position: relative;
    flex: 1;
    overflow-y: auto;
    padding: 0 10px;
    margin-bottom: 10px;
}

.repoListItem {
    position: relative;
}
