.main {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    //border-top: 1px solid rgba(186, 208, 223, 0.36);
}

.left {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: rgba(39, 49, 67, 1);
    // border-right: 1px solid rgba(186,208,223,0.72);
    color: rgba(204, 204, 204, 1);
}

.mid {
    position: absolute;
    top: 0;
    left: 200px;
    width: 250px;
    height: 100%;
    background-color: #fbfbfb;
    border-right: 1px solid rgba(229, 229, 229, 1);
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 450px);
    height: 100%;
    background-color: rgba(246, 246, 247, 1);
}

.detailContent {
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.indicatorWrap {
    position: relative;
    width: 100%;
    height: 36px;
}

.indicator {
    position: absolute;
    top: 12px;
    right: 12px;
    display: inline-block;
    width: 14px;
    height: 14px;
    font-size: 14px;
    cursor: pointer;
}

.profileCard {
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.profileAvatar {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profileName {
    color: #eee;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 5px;
}

.groupNav {
    position: relative;
}
