.main {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    //border-top: 1px solid rgba(186, 208, 223, 0.36);
}

.left {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: rgba(39, 49, 67, 1);
    // border-right: 1px solid rgba(186,208,223,0.72);
    color: rgba(204, 204, 204, 1);
}

.mid {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 200px;
    width: 280px;
    height: 100%;
    background-color: #fbfbfb;
    border-right: 1px solid rgba(229, 229, 229, 1);
}

.right {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 480px);
    height: 100%;
    background-color: #fff; // rgba(246, 246, 247, 1);
}

.detailContent {
    height: auto;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    flex: 1;
    overflow: auto;
}

.indicatorWrap {
    position: relative;
    width: 100%;
    height: 36px;
}

.indicator {
    position: absolute;
    top: 12px;
    right: 12px;
    display: inline-block;
    width: 14px;
    height: 14px;
    font-size: 14px;
    cursor: pointer;
}

.profileCard {
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.profileAvatar {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profileName {
    color: #eee;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 5px;
}

.groupNav {
    position: relative;
}

.langItem {
    padding-right: 32px !important;
}

.catItem {
    padding-right: 32px !important;

    &:hover {
        .navDel {
            opacity: 1;
        }
    }
}

.navDel {
    position: absolute;
    top: 0;
    left: 25px;
    text-align: left;
    padding: 0;
    font-size: 12px;
    line-height: 42px;
    opacity: 0;
}

.navBadge {
    position: absolute;
    top: 0;
    right: 10px;
    text-align: right;
    padding: 0 6px;
    font-size: 14px;
    line-height: 42px;
    color: #fafafa;
}

.groupFooter {
    position: absolute;
    width: 100%;
    height: 36px;
    left: 0;
    bottom: 0;
}

.settingBtn {
    width: 16px;
    height: 16px;
    font-size: 15px;
    position: absolute;
    top: 5px;
    left: 16px;
    &:hover {
        color: #eee;
    }
}

.addCatBtn {
    width: 16px;
    height: 16px;
    font-size: 16px;
    position: absolute;
    top: 5px;
    right: 16px;
    transition: all .3s ease;
    &:hover {
        color: #eee;
        transform: rotate(90deg);
    }
}

.searchBox {
    padding: 12px 10px;
    >span {
        border: 0;
        &:hover {
            input {
                border-color: #d9d9d9 !important;
            }
        }
    }
    input {
        background: rgb(225,225,225);
        text-align: center;
        &:focus {
            box-shadow: none;
            border-color: #d9d9d9;
            background: #fff;
        }
        &:hover {
            border-color: #d9d9d9;
            background: #fff;
        }
    }
    &:focus {
        outline: 0;
    }
}

.searchBoxFocused {
    >.searchFields {
        margin-top: 0px;
    }
}

.searchFields {
    position: relative;
    padding: 10px 0;
    transition: all .3s ease;
    margin-top: -36px;
    text-align: center;
}

.reposListWrapper {
    position: relative;
    flex: 1;
    overflow-y: auto;
    padding: 0;
    // margin-bottom: 10px;
}

.repoListItem {
    position: relative;
    padding: 0;;
    border-bottom: 1px solid rgb(230, 235, 239); // 1px solid #f5f5f5;
    // background-color: #fff;
    &.repoSelected {
        background-color: #e5e5e5;
        header {
            >span {
                >ul {
                    >li {
                        color: #fff;
                        transition: none;
                    }
                }
            }
        }
    }
    &:hover {
        background: #eaeaea;
        header {
            >span {
                >ul {
                    >li {
                        color: #fff;
                        transition: none;
                    }
                }
            }
        }
    }
    &:last-child {
        border-bottom: 0;
    }
    >.repoItemInner {
        padding: 10px;
        >header {
            position: relative;
            >h2 {
                // white-space: nowrap;
                word-break: break-all;
                text-overflow: ellipsis;
                padding-right: 88px;
                font-size: 18px;
                font-weight: 500;
                line-height: 20px;
                overflow: hidden;
                color: #87d068; // #56a07b;
            }
            >span {
                position: absolute;
                top: 0;
                right: 0;
                >ul {
                    text-align: right;
                    font-size: 12px;
                    line-height: 20px;
                    >li {
                        margin-right: 3px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        >div {
            >p {
                font-size: 13px;
                line-height: 1.5;
                padding: 8px 0;
                color: #28353d;
                word-wrap: break-word;
                word-break: break-all;
                margin-bottom: 10px;
            }
        }
        >footer {
            font-size: 13px;
            color: #658399;
            i {
                margin-right: 5px;
            }
        }
    }
}

.sortBarWrap {
    position: relative;
    height: 24px;
    font-size: 12px;
    line-height: 20px;
    margin-top: -16px;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #eaeaea;
    >a {
        color: #9b9ea6;
    }
}

.sortDropdown {
    position: relative;
    padding: 5px 0 !important;
}

.filterDropdown {
    position: relative;
    padding: 5px 0 !important;
}

.filterBarWrap {
    position: relative;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    margin-top: 0;
    text-align: center;
    padding: 5px 10px 0;
    border-top: 1px solid #eaeaea;
    >i {
        position: absolute;
        left: 10px;
        top: 0;
        font-size: 20px;
        line-height: 40px;
    }
    >a {
        padding-top: 3px;
        color: #9b9ea6;
    }
    >p {
        padding-right: 5px;
        font-size: 10px;
        line-height: 12px;
        color: #343536;
    }
}

.detailHeader {
    -webkit-app-region: drag;
    .detailToolbar {
        position: relative;
        height: 40px;
        background-color: #fbfbfb;
        border-bottom: 1px solid #e5e5e5;
        >i {
            font-size: 20px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            display: inline-block;
            margin: 10px;
            cursor: pointer;
            color: #87d068; // #007aff;
            &:last-child {
                float: right;
            }
        }
        >i[data-flag=true] {
            color: rgb(255,150,0);
        }
        &.disabled {
            >i {
                display: none;
                &:last-child {
                    display: inline-block
                }
            }
        }
    }
}

// .repoLinksToolInputWrap {

// }

.notePaneTitle {
    >a {
        float: right;
    }
}

.repoNoteToolInputWrap {
    width: 240px;
}

.repoDetailInner {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
    >header {
        padding: 5px 10px;
        >.headtitle {
            font-size: 20px;
            line-height: 36px;
            color: #28353d;
            >i {
                margin-right: 5px;
                font-size: 20px;
                line-height: 36px;
            }
            >span {
                padding: 0 3px;
            }
            >a {
                color: #28353d;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        >.repoMeta {
            font-size: 12px;
            color: #666;
        }
        >.repoTags {
            position: relative;
            padding: 15px 0 0;
            line-height: 30px;
            >i {
                font-size: 20px;
                margin-right: 5px;
                vertical-align: -4px;
            }
        }
    }
    >.repoReadMeWrap {
        flex: 1;
        position: relative;
        padding: 10px;
        >.repoReadmeLoading {
            position: absolute;
            width: 30px;
            height: 30px;
            top: 40%;
            left: 50%;
            margin-top: -15px;
            margin-left: -15px;
            >i {
                font-size: 30px;
            }
            >div {
                transform: scale(1.5);
            }
        }
        >.repoReadme {
            position: relative;
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
            font-size: 100%;
        }
    }
}
