/* Customize Antd */

input {
    &:focus {
        box-shadow: none !important;
    }
}

.ant-message-notice-content {
    min-width: 160px;
}

.groupNav {
    .ant-menu-dark {
        background-color: transparent;
        >li {
            &:not(.ant-menu-submenu-open) {
                &:not(.ant-menu-item-selected) {
                    &:hover {
                        background-color: rgb(55, 65, 81);
                    }
                }
            }
            &.ant-menu-item-selected {
                background-color: rgb(71, 79, 95);
            }
            >.ant-menu-sub {
                background-color: transparent;
                max-height: 210px;
                overflow-y: auto;
                >li {
                    &:not(.ant-menu-item-selected) {
                        &:hover {
                            background-color: rgb(55, 65, 81);
                        }
                    }
                }
            }
        }
        &.ant-menu-inline {
            .ant-menu-item-selected {
                // background-color: rgb(39, 49, 67);
                background-color: rgb(71, 79, 95);
            }
        }
    }
}

.searchFields {
    .ant-radio-button-wrapper {
        line-height: 24px;
        height: 26px;
        padding: 0 12px;
    }
}

.sortDropdown {
    >.ant-dropdown-menu-item {
        line-height: 14px;
        padding: 5px 16px;
    }
    >.ant-dropdown-menu-item-divider {
        margin: 4px 0;
    }
}
