/* Windows */

.platform_win32 {
    .main {
        >#titleBar {
            display: none;
        }
    }
}


/* MacOS */

.platform_darwin {
    .main {
        >#titleBar {
            display: block;
            height: 20px;
            -webkit-app-region: drag;
        }
    }
}