/* Windows */

.platform_win32 {
    .main {
        >#titleBar {
            display: none;
        }
    }

    /* Scrollbar */
    ::-webkit-scrollbar {width: 5px; height:6px; background-color: transparent;}
    ::-webkit-scrollbar-track-piece{background-color: transparent;}
    ::-webkit-scrollbar-thumb:window-inactive,
    ::-webkit-scrollbar-thumb {background-color: rgba(0, 0, 0, .8); border-radius: 5px;}
}


/* MacOS */

.platform_darwin {
    .main {
        >.container {
            border-top: 0;
            >.left {
                >#titleBar {
                    display: block;
                    height: 36px;
                    -webkit-app-region: drag;
                }
            }
        }
    }

    // ::-webkit-scrollbar {
    //     width:6px;
    // }

    // ::-webkit-scrollbar-track {
    //     -webkit-border-radius:5px;
    //     border-radius:5px;
    //     background:transparent; // rgba(0,0,0,0.1);
    // }

    // ::-webkit-scrollbar-thumb {
    //     -webkit-border-radius:5px;
    //     border-radius:5px;
    //     background:rgba(0,0,0,0.2);
    // }

    // ::-webkit-scrollbar-thumb:hover {
    //     background:rgba(0,0,0,0.4);
    // }

    // ::-webkit-scrollbar-thumb:window-inactive {
    //     background:rgba(0,0,0,0.05);
    // }
}
