/* Windows */

.platform_win32 {
    .main {
        >#titleBar {
            display: none;
        }
    }

    /* Scrollbar */
    ::-webkit-scrollbar {width: 5px; height:6px; background-color: transparent;}
    ::-webkit-scrollbar-track-piece{background-color: transparent;}
    ::-webkit-scrollbar-thumb:window-inactive,
    ::-webkit-scrollbar-thumb {background-color: rgba(0, 0, 0, .8); border-radius: 5px;}
}


/* MacOS */

.platform_darwin {
    .main {
        >.container {
            border-top: 0;
            >.left {
                >#titleBar {
                    display: block;
                    height: 36px;
                    -webkit-app-region: drag;
                }
            }
        }
    }
}
